
<style>
         .bg-1{
            background-color:#EFF6F9; /*light cyan*/
            color:#3A92CD;
        }
        .bg-2{
            background-color:#474E5D; /*dark Blue*/
            color:#FFFFFF;
        }
        .bg-3{
            background-color:#FFFFFF; /*dark Blue*/
            color:#555555;
        }
        .bg-4 {
            background-color: #2f2f2f;
            color: #ffffff;
        }
        .container-fluid{
            padding-top:70px;
            padding-bottom:80px;
            margin-top:30px;
        }

        p {font-size: 16px;}


</style>

<footer class="container-fluid bg-4 text-center">
        <p>Bootstrap Theme Made By
            <a href="mailto:moune.daniel@ictuniversity.org?subject=Email%20Subject&body=Email%20Body%20Text">
                <i>Daniel Moune(Instructor)</i>
            </a>
        </p>
    </footer>

