<style>
    #sidebar{
        margin-top : 100px;
    }

</style>
{% include 'gallery/search.html' %}
       <div class="col-sm-2" sidebar-offcanvas id="sidebar">
          <div class="list-group">
            <h3>Categories</h3>
            <li {% if not category %}class="selected"{% endif %}>
               <a href="{% url 'product_list' %}">All</a></li>
                {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"
                {% endif %}>
               <a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                {% endfor %}
          </div>
        </div><!--/.sidebar-offcanvas-->

