{% load static %}
<head>
	
	<meta charset="utf-8">
	<title>Icanteen Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=yes">
	<meta name="description" content="The number One Online Canteen Management Project">
	<meta name="Context" content="Object Oriented Software Engineering Course">
	
	<!-- adds bootstrap stylesheets -->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"  type="text/css">
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
	<!-- <link href="{% static "templates/index/css/bootstrap_3_3_7/bootstrap.min.css" %}" rel="stylesheet" type="text/css"> -->
	<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" type="text/css"> -->
	<link href="{% static "templates/base/css/bootstrap_4_1_3/bootstrap.min.css" %}" rel="stylesheet" type="text/css">
	<!-- load special fonts -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css"> -->
	<!-- load local stylesheets -->
	<link href="{% static "templates/base/css/borders.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/base/css/colors.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/base/css/fonts.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/base/css/sizes.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/base/css/margins.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/base/css/paddings.css" %}" rel="stylesheet" type="text/css">
</head>
