{% load static %}
<head>
	
	<meta charset="utf-8">
	<title>Icanteen Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=yes">
	<meta name="description" content="The number one Online Canteen Management Project">
	<meta name="Context" content="Object Oriented Software Engineering Course">
	
	<!-- adds bootstrap stylesheets -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- <link href="{% static "templates/index/css/bootstrap_3_3_7/bootstrap.min.css" %}" rel="stylesheet" type="text/css"> -->
	<!-- load special fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<!-- load local stylesheets -->
	<link href="{% static "templates/index/css/borders.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/index/css/colors.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/index/css/fonts.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/index/css/sizes.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/index/css/margins.css" %}" rel="stylesheet" type="text/css">
	<link href="{% static "templates/index/css/paddings.css" %}" rel="stylesheet" type="text/css">
</head>
