/* 
	There are four different combinators in CSS:

	 - descendant selector (space)
	 - child selector (>)
	 - adjacent sibling selector (+)
	 - general sibling selector (~) 
	
*/

/*  padding-bottom classes not included in Bootstrap */
.pb-6 {
    padding-bottom: 6vmin!important;
}
.pb-7 {
    padding-bottom: 7vmin!important;
}
.pb-8 {
    padding-bottom: 8vmin!important;
}
.pb-9 {
    padding-bottom: 9vmin!important;
}
.pb-10 {
    padding-bottom: 10vmin!important;
}
.pb-11 {
    padding-bottom: 11vmin!important;
}
.pb-12 {
    padding-bottom: 12vmin!important;
}
.pb-13 {
    padding-bottom: 13vmin!important;
}
.pb-14 {
    padding-bottom: 14vmin!important;
}
.pb-15 {
    padding-bottom: 15vmin!important;
}
.pb-16 {
    padding-bottom: 16vmin!important;
}
.pb-17 {
    padding-bottom: 17vmin!important;
}
.pb-18 {
    padding-bottom: 18vmin!important;
}
.pb-19 {
    padding-bottom: 19vmin!important;
}
.pb-20 {
    padding-bottom: 20vmin!important;
}
.pb-21 {
    padding-bottom: 21vmin!important;
}
.pb-22 {
    padding-bottom: 22vmin!important;
}
.pb-23 {
    padding-bottom: 23vmin!important;
}
.pb-24 {
    padding-bottom: 24vmin!important;
}
.pb-25 {
    padding-bottom: 25vmin!important;
}
.pb-26 {
    padding-bottom: 26vmin!important;
}
.pb-27 {
    padding-bottom: 27vmin!important;
}
.pb-28 {
    padding-bottom: 28vmin!important;
}
.pb-29 {
    padding-bottom: 29vmin!important;
}
.pb-30 {
    padding-bottom: 30vmin!important;
}
.pb-31 {
    padding-bottom: 31vmin!important;
}
.pb-32 {
    padding-bottom: 32vmin!important;
}
.pb-33 {
    padding-bottom: 33vmin!important;
}
.pb-34 {
    padding-bottom: 34vmin!important;
}
.pb-35 {
    padding-bottom: 35vmin!important;
}
.pb-36 {
    padding-bottom: 36vmin!important;
}
.pb-37 {
    padding-bottom: 37vmin!important;
}
.pb-38 {
    padding-bottom: 38vmin!important;
}
.pb-39 {
    padding-bottom: 39vmin!important;
}
.pb-40 {
    padding-bottom: 40vmin!important;
}
.pb-41 {
    padding-bottom: 41vmin!important;
}
.pb-42 {
    padding-bottom: 42vmin!important;
}
.pb-43 {
    padding-bottom: 43vmin!important;
}
.pb-44 {
    padding-bottom: 44vmin!important;
}
.pb-45 {
    padding-bottom: 45vmin!important;
}
.pb-46 {
    padding-bottom: 46vmin!important;
}
.pb-47 {
    padding-bottom: 47vmin!important;
}
.pb-48 {
    padding-bottom: 48vmin!important;
}
.pb-49 {
    padding-bottom: 49vmin!important;
}
.pb-50 {
    padding-bottom: 50vmin!important;
}

/*  padding-left classes not included in Bootstrap */
.pl-6 {
    padding-left: 6vmin!important;
}
.pl-7 {
    padding-left: 7vmin!important;
}
.pl-8 {
    padding-left: 8vmin!important;
}
.pl-9 {
    padding-left: 9vmin!important;
}
.pl-10 {
    padding-left: 10vmin!important;
}
.pl-11 {
    padding-left: 11vmin!important;
}
.pl-12 {
    padding-left: 12vmin!important;
}
.pl-13 {
    padding-left: 13vmin!important;
}
.pl-14 {
    padding-left: 14vmin!important;
}
.pl-15 {
    padding-left: 15vmin!important;
}
.pl-16 {
    padding-left: 16vmin!important;
}
.pl-17 {
    padding-left: 17vmin!important;
}
.pl-18 {
    padding-left: 18vmin!important;
}
.pl-19 {
    padding-left: 19vmin!important;
}
.pl-20 {
    padding-left: 20vmin!important;
}
.pl-21 {
    padding-left: 21vmin!important;
}
.pl-22 {
    padding-left: 22vmin!important;
}
.pl-23 {
    padding-left: 23vmin!important;
}
.pl-24 {
    padding-left: 24vmin!important;
}
.pl-25 {
    padding-left: 25vmin!important;
}
.pl-26 {
    padding-left: 26vmin!important;
}
.pl-27 {
    padding-left: 27vmin!important;
}
.pl-28 {
    padding-left: 28vmin!important;
}
.pl-29 {
    padding-left: 29vmin!important;
}
.pl-30 {
    padding-left: 30vmin!important;
}
.pl-31 {
    padding-left: 31vmin!important;
}
.pl-32 {
    padding-left: 32vmin!important;
}
.pl-33 {
    padding-left: 33vmin!important;
}
.pl-34 {
    padding-left: 34vmin!important;
}
.pl-35 {
    padding-left: 35vmin!important;
}
.pl-36 {
    padding-left: 36vmin!important;
}
.pl-37 {
    padding-left: 37vmin!important;
}
.pl-38 {
    padding-left: 38vmin!important;
}
.pl-39 {
    padding-left: 39vmin!important;
}
.pl-40 {
    padding-left: 40vmin!important;
}
.pl-41 {
    padding-left: 41vmin!important;
}
.pl-42 {
    padding-left: 42vmin!important;
}
.pl-43 {
    padding-left: 43vmin!important;
}
.pl-44 {
    padding-left: 44vmin!important;
}
.pl-45 {
    padding-left: 45vmin!important;
}
.pl-46 {
    padding-left: 46vmin!important;
}
.pl-47 {
    padding-left: 47vmin!important;
}
.pl-48 {
    padding-left: 48vmin!important;
}
.pl-49 {
    padding-left: 49vmin!important;
}
.pl-50 {
    padding-left: 50vmin!important;
}

/*  padding-right classes not included in Bootstrap */
.pr-6 {
    padding-right: 6vmin!important;
}
.pr-7 {
    padding-right: 7vmin!important;
}
.pr-8 {
    padding-right: 8vmin!important;
}
.pr-9 {
    padding-right: 9vmin!important;
}
.pr-10 {
    padding-right: 10vmin!important;
}
.pr-11 {
    padding-right: 11vmin!important;
}
.pr-12 {
    padding-right: 12vmin!important;
}
.pr-13 {
    padding-right: 13vmin!important;
}
.pr-14 {
    padding-right: 14vmin!important;
}
.pr-15 {
    padding-right: 15vmin!important;
}
.pr-16 {
    padding-right: 16vmin!important;
}
.pr-17 {
    padding-right: 17vmin!important;
}
.pr-18 {
    padding-right: 18vmin!important;
}
.pr-19 {
    padding-right: 19vmin!important;
}
.pr-20 {
    padding-right: 20vmin!important;
}
.pr-21 {
    padding-right: 21vmin!important;
}
.pr-22 {
    padding-right: 22vmin!important;
}
.pr-23 {
    padding-right: 23vmin!important;
}
.pr-24 {
    padding-right: 24vmin!important;
}
.pr-25 {
    padding-right: 25vmin!important;
}
.pr-26 {
    padding-right: 26vmin!important;
}
.pr-27 {
    padding-right: 27vmin!important;
}
.pr-28 {
    padding-right: 28vmin!important;
}
.pr-29 {
    padding-right: 29vmin!important;
}
.pr-30 {
    padding-right: 30vmin!important;
}
.pr-31 {
    padding-right: 31vmin!important;
}
.pr-32 {
    padding-right: 32vmin!important;
}
.pr-33 {
    padding-right: 33vmin!important;
}
.pr-34 {
    padding-right: 34vmin!important;
}
.pr-35 {
    padding-right: 35vmin!important;
}
.pr-36 {
    padding-right: 36vmin!important;
}
.pr-37 {
    padding-right: 37vmin!important;
}
.pr-38 {
    padding-right: 38vmin!important;
}
.pr-39 {
    padding-right: 39vmin!important;
}
.pr-40 {
    padding-right: 40vmin!important;
}
.pr-41 {
    padding-right: 41vmin!important;
}
.pr-42 {
    padding-right: 42vmin!important;
}
.pr-43 {
    padding-right: 43vmin!important;
}
.pr-44 {
    padding-right: 44vmin!important;
}
.pr-45 {
    padding-right: 45vmin!important;
}
.pr-46 {
    padding-right: 46vmin!important;
}
.pr-47 {
    padding-right: 47vmin!important;
}
.pr-48 {
    padding-right: 48vmin!important;
}
.pr-49 {
    padding-right: 49vmin!important;
}
.pr-50 {
    padding-right: 50vmin!important;
}

/*  padding-top classes not included in Bootstrap */
.pt-6 {
    padding-top: 6vmin!important;
}
.pt-7 {
    padding-top: 7vmin!important;
}
.pt-8 {
    padding-top: 8vmin!important;
}
.pt-9 {
    padding-top: 9vmin!important;
}
.pt-10 {
    padding-top: 10vmin!important;
}
.pt-11 {
    padding-top: 11vmin!important;
}
.pt-12 {
    padding-top: 12vmin!important;
}
.pt-13 {
    padding-top: 13vmin!important;
}
.pt-14 {
    padding-top: 14vmin!important;
}
.pt-15 {
    padding-top: 15vmin!important;
}
.pt-16 {
    padding-top: 16vmin!important;
}
.pt-17 {
    padding-top: 17vmin!important;
}
.pt-18 {
    padding-top: 18vmin!important;
}
.pt-19 {
    padding-top: 19vmin!important;
}
.pt-20 {
    padding-top: 20vmin!important;
}
.pt-21 {
    padding-top: 21vmin!important;
}
.pt-22 {
    padding-top: 22vmin!important;
}
.pt-23 {
    padding-top: 23vmin!important;
}
.pt-24 {
    padding-top: 24vmin!important;
}
.pt-25 {
    padding-top: 25vmin!important;
}
.pt-26 {
    padding-top: 26vmin!important;
}
.pt-27 {
    padding-top: 27vmin!important;
}
.pt-28 {
    padding-top: 28vmin!important;
}
.pt-29 {
    padding-top: 29vmin!important;
}
.pt-30 {
    padding-top: 30vmin!important;
}
.pt-31 {
    padding-top: 31vmin!important;
}
.pt-32 {
    padding-top: 32vmin!important;
}
.pt-33 {
    padding-top: 33vmin!important;
}
.pt-34 {
    padding-top: 34vmin!important;
}
.pt-35 {
    padding-top: 35vmin!important;
}
.pt-36 {
    padding-top: 36vmin!important;
}
.pt-37 {
    padding-top: 37vmin!important;
}
.pt-38 {
    padding-top: 38vmin!important;
}
.pt-39 {
    padding-top: 39vmin!important;
}
.pt-40 {
    padding-top: 40vmin!important;
}
.pt-41 {
    padding-top: 41vmin!important;
}
.pt-42 {
    padding-top: 42vmin!important;
}
.pt-43 {
    padding-top: 43vmin!important;
}
.pt-44 {
    padding-top: 44vmin!important;
}
.pt-45 {
    padding-top: 45vmin!important;
}
.pt-46 {
    padding-top: 46vmin!important;
}
.pt-47 {
    padding-top: 47vmin!important;
}
.pt-48 {
    padding-top: 48vmin!important;
}
.pt-49 {
    padding-top: 49vmin!important;
}
.pt-50 {
    padding-top: 50vmin!important;
}

/*  padding-x classes not included in Bootstrap */
.px-6 {
    padding-left: 6vmin!important;
    padding-right: 6vmin!important;
}
.px-7 {
    padding-left: 7vmin!important;
    padding-right: 7vmin!important;
}
.px-8 {
    padding-left: 8vmin!important;
    padding-right: 8vmin!important;
}
.px-9 {
    padding-left: 9vmin!important;
    padding-right: 9vmin!important;
}
.px-10 {
    padding-left: 10vmin!important;
    padding-right: 10vmin!important;
}
.px-11 {
    padding-left: 11vmin!important;
    padding-right: 11vmin!important;
}
.px-12 {
    padding-left: 12vmin!important;
    padding-right: 12vmin!important;
}
.px-13 {
    padding-left: 13vmin!important;
    padding-right: 13vmin!important;
}
.px-14 {
    padding-left: 14vmin!important;
    padding-right: 14vmin!important;
}
.px-15 {
    padding-left: 15vmin!important;
    padding-right: 15vmin!important;
}
.px-16 {
    padding-left: 16vmin!important;
    padding-right: 16vmin!important;
}
.px-17 {
    padding-left: 17vmin!important;
    padding-right: 17vmin!important;
}
.px-18 {
    padding-left: 18vmin!important;
    padding-right: 18vmin!important;
}
.px-19 {
    padding-left: 19vmin!important;
    padding-right: 19vmin!important;
}
.px-20 {
    padding-left: 20vmin!important;
    padding-right: 20vmin!important;
}
.px-21 {
    padding-left: 21vmin!important;
    padding-right: 21vmin!important;
}
.px-22 {
    padding-left: 22vmin!important;
    padding-right: 22vmin!important;
}
.px-23 {
    padding-left: 23vmin!important;
    padding-right: 23vmin!important;
}
.px-24 {
    padding-left: 24vmin!important;
    padding-right: 24vmin!important;
}
.px-25 {
    padding-left: 25vmin!important;
    padding-right: 25vmin!important;
}
.px-26 {
    padding-left: 26vmin!important;
    padding-right: 26vmin!important;
}
.px-27 {
    padding-left: 27vmin!important;
    padding-right: 27vmin!important;
}
.px-28 {
    padding-left: 28vmin!important;
    padding-right: 28vmin!important;
}
.px-29 {
    padding-left: 29vmin!important;
    padding-right: 29vmin!important;
}
.px-30 {
    padding-left: 30vmin!important;
    padding-right: 30vmin!important;
}
.px-31 {
    padding-left: 31vmin!important;
    padding-right: 31vmin!important;
}
.px-32 {
    padding-left: 32vmin!important;
    padding-right: 32vmin!important;
}
.px-33 {
    padding-left: 33vmin!important;
    padding-right: 33vmin!important;
}
.px-34 {
    padding-left: 34vmin!important;
    padding-right: 34vmin!important;
}
.px-35 {
    padding-left: 35vmin!important;
    padding-right: 35vmin!important;
}
.px-36 {
    padding-left: 36vmin!important;
    padding-right: 36vmin!important;
}
.px-37 {
    padding-left: 37vmin!important;
    padding-right: 37vmin!important;
}
.px-38 {
    padding-left: 38vmin!important;
    padding-right: 38vmin!important;
}
.px-39 {
    padding-left: 39vmin!important;
    padding-right: 39vmin!important;
}
.px-40 {
    padding-left: 40vmin!important;
    padding-right: 40vmin!important;
}
.px-41 {
    padding-left: 41vmin!important;
    padding-right: 41vmin!important;
}
.px-42 {
    padding-left: 42vmin!important;
    padding-right: 42vmin!important;
}
.px-43 {
    padding-left: 43vmin!important;
    padding-right: 43vmin!important;
}
.px-44 {
    padding-left: 44vmin!important;
    padding-right: 44vmin!important;
}
.px-45 {
    padding-left: 45vmin!important;
    padding-right: 45vmin!important;
}
.px-46 {
    padding-left: 46vmin!important;
    padding-right: 46vmin!important;
}
.px-47 {
    padding-left: 47vmin!important;
    padding-right: 47vmin!important;
}
.px-48 {
    padding-left: 48vmin!important;
    padding-right: 48vmin!important;
}
.px-49 {
    padding-left: 49vmin!important;
    padding-right: 49vmin!important;
}
.px-50 {
    padding-left: 50vmin!important;
    padding-right: 50vmin!important;
}

/*  padding-y classes not included in Bootstrap */
.py-6 {
    padding-bottom: 6vmin!important;
    padding-top: 6vmin!important;
}
.py-7 {
    padding-bottom: 7vmin!important;
    padding-top: 7vmin!important;
}
.py-8 {
    padding-bottom: 8vmin!important;
    padding-top: 8vmin!important;
}
.py-9 {
    padding-bottom: 9vmin!important;
    padding-top: 9vmin!important;
}
.py-10 {
    padding-bottom: 10vmin!important;
    padding-top: 10vmin!important;
}
.py-11 {
    padding-bottom: 11vmin!important;
    padding-top: 11vmin!important;
}
.py-12 {
    padding-bottom: 12vmin!important;
    padding-top: 12vmin!important;
}
.py-13 {
    padding-bottom: 13vmin!important;
    padding-top: 13vmin!important;
}
.py-14 {
    padding-bottom: 14vmin!important;
    padding-top: 14vmin!important;
}
.py-15 {
    padding-bottom: 15vmin!important;
    padding-top: 15vmin!important;
}
.py-16 {
    padding-bottom: 16vmin!important;
    padding-top: 16vmin!important;
}
.py-17 {
    padding-bottom: 17vmin!important;
    padding-top: 17vmin!important;
}
.py-18 {
    padding-bottom: 18vmin!important;
    padding-top: 18vmin!important;
}
.py-19 {
    padding-bottom: 19vmin!important;
    padding-top: 19vmin!important;
}
.py-20 {
    padding-bottom: 20vmin!important;
    padding-top: 20vmin!important;
}
.py-21 {
    padding-bottom: 21vmin!important;
    padding-top: 21vmin!important;
}
.py-22 {
    padding-bottom: 22vmin!important;
    padding-top: 22vmin!important;
}
.py-23 {
    padding-bottom: 23vmin!important;
    padding-top: 23vmin!important;
}
.py-24 {
    padding-bottom: 24vmin!important;
    padding-top: 24vmin!important;
}
.py-25 {
    padding-bottom: 25vmin!important;
    padding-top: 25vmin!important;
}
.py-26 {
    padding-bottom: 26vmin!important;
    padding-top: 26vmin!important;
}
.py-27 {
    padding-bottom: 27vmin!important;
    padding-top: 27vmin!important;
}
.py-28 {
    padding-bottom: 28vmin!important;
    padding-top: 28vmin!important;
}
.py-29 {
    padding-bottom: 29vmin!important;
    padding-top: 29vmin!important;
}
.py-30 {
    padding-bottom: 30vmin!important;
    padding-top: 30vmin!important;
}
.py-31 {
    padding-bottom: 31vmin!important;
    padding-top: 31vmin!important;
}
.py-32 {
    padding-bottom: 32vmin!important;
    padding-top: 32vmin!important;
}
.py-33 {
    padding-bottom: 33vmin!important;
    padding-top: 33vmin!important;
}
.py-34 {
    padding-bottom: 34vmin!important;
    padding-top: 34vmin!important;
}
.py-35 {
    padding-bottom: 35vmin!important;
    padding-top: 35vmin!important;
}
.py-36 {
    padding-bottom: 36vmin!important;
    padding-top: 36vmin!important;
}
.py-37 {
    padding-bottom: 37vmin!important;
    padding-top: 37vmin!important;
}
.py-38 {
    padding-bottom: 38vmin!important;
    padding-top: 38vmin!important;
}
.py-39 {
    padding-bottom: 39vmin!important;
    padding-top: 39vmin!important;
}
.py-40 {
    padding-bottom: 40vmin!important;
    padding-top: 40vmin!important;
}
.py-41 {
    padding-bottom: 41vmin!important;
    padding-top: 41vmin!important;
}
.py-42 {
    padding-bottom: 42vmin!important;
    padding-top: 42vmin!important;
}
.py-43 {
    padding-bottom: 43vmin!important;
    padding-top: 43vmin!important;
}
.py-44 {
    padding-bottom: 44vmin!important;
    padding-top: 44vmin!important;
}
.py-45 {
    padding-bottom: 45vmin!important;
    padding-top: 45vmin!important;
}
.py-46 {
    padding-bottom: 46vmin!important;
    padding-top: 46vmin!important;
}
.py-47 {
    padding-bottom: 47vmin!important;
    padding-top: 47vmin!important;
}
.py-48 {
    padding-bottom: 48vmin!important;
    padding-top: 48vmin!important;
}
.py-49 {
    padding-bottom: 49vmin!important;
    padding-top: 49vmin!important;
}
.py-50 {
    padding-bottom: 50vmin!important;
    padding-top: 50vmin!important;
}

.px-auto {
	padding-left: 1vw!important;
    padding-right: 1vw!important;
}

@media (min-width: 420px){
	.px-auto {
		padding-left: 6vw!important;
        padding-right: 6vw!important;
	}
}

@media (min-width: 460px){
	.px-auto {
		padding-left: 7vw!important;
        padding-right: 7vw!important;
	}
}

@media (min-width: 480px){
	.px-auto {
		padding-left: 8vw!important;
        padding-right: 8vw!important;
	}
}

@media (min-width: 768px){
	.px-auto {
		padding-left: 13vw!important;
        padding-right: 13vw!important;
	}
}

@media (min-width: 992px){
	.px-auto {
		padding-left: 17vw!important;
        padding-right: 17vw!important;
	}
}

@media (min-width: 1200px){
	.px-auto {
		padding-left: 20vw!important;
        padding-right: 20vw!important;
	}
}

.navbar .navbar-header{
	display: contents;
	justify-content: space-between;
}