/* 
	There are four different combinators in CSS:

	 - descendant selector (space)
	 - child selector (>)
	 - adjacent sibling selector (+)
	 - general sibling selector (~) 
	
*/

html,
body{
	height:100%;
}

body{
	display:flex;
	flex-direction: column;
}

body .header{
	height:15%;
}

body .content {
	flex: 1 0 auto;
}

body .footer{
	flex-shrink: 0;
}
