<style>
    .navbar {
            padding-top: 15px;
            padding-bottom: 15px;
            border: 0;
            border-radius: 0;
            margin-bottom: 0;
            font-size: 12px;
            letter-spacing: 5px;
        }
        .navbar-nav li a:hover {
            color: #1abc9c !important;
        }

</style>

   <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Us</a>
            </div>
            <div class=" collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'gallery:product_list' %}">Gallery</a></li>
                    <li><a href="#">Cart</a></li>
                    <li><a href="#">Polls</a></li>
                </ul>
            </div>
        </div>
    </nav>
