{% extends 'base/index.html'%}

{% load static %}

{% block content %}
<div class="container pt-5">
	<div class="d-flex justify-content-center">
		You're receiving this email because you have created a user account at {{ site_name }}.
	</div>
	<div class="d-flex justify-content-center">
		Your account is not yet activate though.
	</div>
	<div class="d-flex justify-content-center">
		"Please click on the following link to activate your account and log in:"
	</div>
	<div class="d-flex justify-content-center">
		{% block activation_link %}
			{{ protocol }}://{{ domain }}{% url 'users:account_activation_confirm' uidb64=uid token=token %}
		{% endblock %}
	</div>
	<div class="d-flex justify-content-center">
		Your username, in case you’ve forgotten: your username is {{ user.get_username }}
	</div>
	<div class="d-flex justify-content-center">Thanks for using our site!</div>
	<div class="d-flex justify-content-center">The {{ site_name }} team</div>
</div>
{% endblock %}
