{% extends 'base/index.html'%}
{% load static %}

{% block content %}
<div class="container pt-5">
    {% if validlink %}
        <div class="d-flex justify-content-center"><h2>Account Activation Completed</h2></div>
        <div class="d-flex justify-content-center">
            <p>Your new account is now active.</p>
        </div>
        <div class="d-flex justify-content-center">You may go ahead and <a class="px-5" href="{% url 'users:login' %}">LOG IN</a> now.</div>
    {% else %}
        <div class="d-flex justify-content-center">
            The password reset link is invalid, possibly because it has already been used.
        </div>
        <div class="d-flex justify-content-center">
            Please restart the procedure by clicking on this link to <a class="px-5" href="{% url 'users:account_signup' %}">SIGN UP</a> for a new account.
        </div>
    {% endif %}
</div>
{% endblock %}