{% extends 'base/index.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container pt-5">
    {% if validlink %}
        <div class="d-flex justify-content-center"><h2>Change password</h2></div>
        
        {% crispy form %}

    {% else %}
        <div class="d-flex justify-content-center">
            The password reset link is invalid, possibly because it has already been used.
        </div>
        <div class="d-flex justify-content-center">
            Please restart the procedure by clicking on this link to <a class="px-5" href="{% url 'users:password_reset' %}">RESET</a>your password.
        </div>
    {% endif %}
    <div class="d-flex justify-content-center"><a href="{% url 'users:dashboard' %}">Back to dashboard</a></div>
</div>
{% endblock %}