{% extends 'base/index.html'%}

{% load static %}

{% block content %}
<div class="container pt-5">
	<div class="d-flex justify-content-center">
		You're receiving this email because you requested a password reset for your user account at {{ site_name }}.
	</div>
	<div class="d-flex justify-content-center">
		"Please go to the following page and choose a new password:"
	</div>
	<div class="d-flex justify-content-center">
		{% block reset_link %}
			{{ protocol }}://{{ domain }}{% url 'users:password_reset_confirm' uidb64=uid token=token %}
		{% endblock %}
	</div>
	<div class="d-flex justify-content-center">
    	Your username, in case you’ve forgotten: {{ user.get_username }}
	</div>
	<div class="d-flex justify-content-center">Thanks for using our site!</div>
	<div class="d-flex justify-content-center">The {{ site_name }} team</div>
</div>
{% endblock %}
